<h1 class="welcome">Welcome Back {{name}}</h1>
<h2>All your blogs:</h2>
{{#each blogs}}
<div class="card cardBlog animate__animated animate__fadeInTopLeft">
  <h5 class="card-header">{{format_date date_created}}</h5>
  <div class="card-body">
    <a href="/blog/{{id}}"><h3 class="card-title">{{title}}</h3></a>
    <p class="card-text">{{contents}}</p>
    <button id= "delBtn" class="btn del btn-danger" data-Blog={{id}}>delete</button>
  </div>
</div>
{{/each}}
<div class="card">
  <form action="" id="newBlog">
    <div class="card-body mb-3">
      <label for="title" class="form-label">Your Blog title</label>
      <input type="text" class="form-control" id="title" placeholder="title">
    </div>
    <div class=" card-body mb-3">
      <label for="body" class="form-label">Blog Content</label>
      <textarea class="form-control" id="body" cols="30" rows="3"></textarea>
    </div>
    <div class="card-body">
      <button type= "submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<script src="/js/profile.js"></script>